<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/dadosbancarios.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Dados Bancarios</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <a href="/" class="nav-back"><img src="./assets/arrow-left.svg" alt="voltar"></a>
        <span>Amigo Fit</span>
      </nav>
    </header>
    <section>

      <form method="post" class="form-cadastro">
        <input type="hidden" name="id" value="<%=dados.id%>">
        <span class="form-header">Dados Bancarios</span>
        <label for="banco">BANCO</label>
        <select class="form-input" name="banco">
        <% for(var i = 0 ; i < bancos.length; i ++) { %>
          <option value="<%= bancos[i].id %>" <%= dados.banco_codigo == bancos[i].id ? 'selected' : ''%>><%= bancos[i].nome %></option>
        <% } %>
        </select>
        <label for="agencia">AGÊNCIA</label>
        <input name="agencia" type="text" placeholder="XXXXXX" value="<%= dados.agencia%>"  class="form-input" />
        <label for="conta">CONTA</label>
        <input name="conta" type="text" placeholder="XXXXXXXX-X" value="<%= dados.conta%>" class="form-input" />
        <label for="tpconta">TIPO</label>
        <select class="form-input" name="tpconta">
          <option value="CONTA_CORRENTE" <%= dados.tpconta == 'CONTA_CORRENTE' ? 'selected' : ''%>>CONTA CORRENTE</option>
          <option value="POUPANCA" <%= dados.tpconta == 'POUPANCA' ? 'selected' : ''%>>POUPANCA</option>
        </select>
        <input type="submit" value="SALVAR" class="button" />
      </form>
    </section>
  </main>
  <script src="utils.js" ></script>
</body>

</html>
